@import '../../constants/variables.scss';

.landingPage-container {
  margin: 0 auto;

  .landingPage-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: $black;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    padding: 25px 0 25px;

 }
}
