@import '../../constants/variables.scss';

.landingPage-container {
  max-width: 1360px;
  margin: 0 auto;

  .landingPage-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $yellow;

    max-width: 100%;
    padding: 15px 0 18px;

      .landingPage-header-title {
        color: $blue;
      }
 }
}
