.interests-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  background-color: #9d0000;

  .title {
    font-size: 30px;
    margin-left: 7.5vw;
  }

  .instructions {
    font-size: 24px;
    margin-left: 7.5vw;
  }

  .icons-container {
    margin-top: 2vh;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .icon-info-container {
    height: 50vh;
  }

  .icon {
    transition: transform .3s;
  }

  .icon:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .info-bubble {
    position: absolute;
    margin-top: 5vh;
    background-color: black;
    height: 35vh;
    width: 20vw;
    border-radius: 50px;
    opacity: 0;
    transition: opacity .5s;
  }

  #icon1:hover + #info1 {
    opacity: 1;
  }

  #icon2:hover + #info2 {
    opacity: 1;
  }

  #icon3:hover + #info3 {
    opacity: 1;
  }

  #icon4:hover + #info4 {
    opacity: 1;
  }

  .info-text {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
  }

  .subtitle-text {
    margin-left: 20px;
  }

  .bullet-text {
    margin-left: 40px;
  }
}